body {
    background: #ffffffff;
    margin: 0;
}

#nav_1 {
    background: #E0E0E0 !important;
}

#nav_p2 {
    font-size: 13px;
    align-content: center;
    height: 10px !important;
}

.btn-outline-accent {
    color: #4e54c8;
    border-color: #4e54c8;
}

/*footer {
    min-height: 100vh;
}*/

.card {
    align-items: center;
}
